.head{
    color: purple;
    text-align: center;
    background-color: rgb(209, 208, 218);
    border: 5px solid red;
    border-radius: 50px;
}
.span{
    color:red;
}
.css{color: green;}
.omina{
    color: green;
    text-align: center;
    background-color: yellow;
}
.best{
    color: green;
text-align: center;
background-color: yellow;
}
.min{
    color: aqua;
}
.m{color:aqua;}
.n{

    color: aliceblue;
text-align: center;
background-color: rgb(98, 98, 161);

}
.o{
color: green;
text-align: center;
background-color: yellow;
}




